*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    background-color: powderblue;
}

/* Book */
.book
{
    /* border: 1px solid black;*/ /* get rid of borders after basic styling is done */
    position: relative;
    width: 350px;
    height: 500px;
}

.paper
{
    /* border: 1px solid red; */ /* get rid of borders after basic styling is done */
    position: absolute; /* this feature allows more papers added to the book to overlap one after the other */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front,
.back
{
    background-color: whitesmoke;
    position: absolute; /* this feature allows the front page to be on top of the back page */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 1s;
}

.front
{
    z-index: 1;   
    backface-visibility: hidden;
    border-left: 3px solid powderblue;
}

.back
{
    z-index: 0;   
}

.front-content,
.back-content
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* fix the back content orientation */
.back-content
{
    transform: rotateY(180deg);
}

/* Paper flip effect */
.flipped .front,
.flipped .back
{
    transform: rotateY(-180deg);
}

/* controller buttons */
button
{
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
}

button:focus
{
    outline: none;
}

button:hover i
{
    color: #636363;
}

i
{
    font-size: 50px;
    color: gray;
}

/* Paper stack order */
#p1
{
    z-index: 9;
}
#p2
{
    z-index: 8;
}
#p3
{
    z-index: 7;
}
#p4
{
    z-index: 6;
}
#p5
{
    z-index: 5;
}
#p6
{
    z-index: 4;
}
#p7
{
    z-index: 3;
}
#p8
{
    z-index: 2;
}
#p9
{
    z-index: 1;
}