body {
  margin: 0;
}
       
div
{
	border-radius: 1em 2em; /* The first value represents the top left and bottom right corner, the second the top right and bottom left ones */
  	border-style: solid;
  	border-color: brown;
  	width: 200px;
  	height: 100px;
  	background-color: blue;
}
