body {
  margin: 0;
}
       
div
{
	border-radius: 1em 2em; /* The top and bottom inherits the first value 1em, while the left and right side takes 2em */
  	border-style: solid;
  	border-color: brown;
  	width: 200px;
  	height: 100px;
  	background-color: blue;
}
