body {
  margin: 0;
}
       
div
{	
  	width: 400px;
  	height: 500px;
	background-color: #000;
	background-image: url(https://media.istockphoto.com/id/1409084946/photo/smartphone-with-blank-screen.jpg?s=612x612&w=is&k=20&c=35qsx-vuJj9rDZpBqA1Ywi4rHwtY1PhJc_AEqq-ab94=);
	background-repeat: no-repeat;
	background-position: left top;
}
