*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    background-color: rgba(127, 114, 114, 0.1);
    display: inline-block;
}

main
{
    background-color: rgba(127, 114, 114, 0.18);
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

h1
{
    margin: 10px auto;
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
}

.obama
{
    max-width: 1425px;
    max-height: 1020px;
    border-radius: 20px;
    margin: 20px auto;
}

img
{
    margin: auto;
    width: 100%;
    border-radius: 10px;
}

.outlines
{
    width: 1425px;
    height: 748px;
    margin: auto;
}

.outlines > ul
{
    font-size: 20px;
    letter-spacing: 0.06em;
    font-family: 'Times New Roman', Times, serif;
    word-spacing: normal;
}

.outlines, li
{
    line-height: 1.5em;
}

span,strong,i,em
{
    color: navy;
    font-size: 25px;
}

li:nth-child(1)
{
    margin: 30px;
}

li:nth-child(2)
{
    margin: 30px;
}

li:nth-child(3)
{
    margin: 30px;
}

li:nth-child(4)
{
    margin: 30px;
}

li:nth-child(5)
{
    margin: 30px;
}

li:nth-child(6)
{
    margin: 30px;
}

li:nth-child(7)
{
    margin: 30px;
}

li:nth-child(8)
{
    margin: 30px;
}

li:nth-child(9)
{
    margin: 30px;
}

.footnote
{
    width: 2000px;
    height: 300px;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footnote > img 
{
    margin: 10px;
    border-radius: 50%;
    width: 150px;
}

h3
{
    margin-left: 700px;
    font-size: 25px;
}